In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(data = np.random.randn(3,3) , index = ["A","B","C"] , columns = ["Column1","Column2","Column3"])

In [3]:
df

    Column1   Column2   Column3
A -1.138994 -0.397342  0.813123
B  0.686935  1.510083  1.931995
C -1.327061 -0.588015 -1.920393

In [4]:
df["Column1"]

A   -1.138994
B    0.686935
C   -1.327061
Name: Column1, dtype: float64

In [7]:
df.loc["A"]

Column1   -1.138994
Column2   -0.397342
Column3    0.813123
Name: A, dtype: float64

In [9]:
df[["Column2","Column3"]]

   Column2   Column3
A -1.92922 -1.107215
B  0.94284 -0.072994
C  1.52066 -0.024674

In [10]:
df["Column4"] = pd.Series(np.random.randn(3),["A","B","C"])

In [11]:
df

    Column1  Column2   Column3   Column4
A  0.094517 -1.92922 -1.107215  0.463678
B  1.436605  0.94284 -0.072994 -0.493884
C  0.696102  1.52066 -0.024674 -0.893065

In [12]:
df["Column5"]= df["Column1"]+df["Column2"]

In [13]:
df

    Column1  Column2   Column3   Column4   Column5
A  0.094517 -1.92922 -1.107215  0.463678 -1.834703
B  1.436605  0.94284 -0.072994 -0.493884  2.379445
C  0.696102  1.52066 -0.024674 -0.893065  2.216763

In [16]:
df.drop("Column5",axis=1,inplace=True)

In [17]:
df

    Column1  Column2   Column3   Column4
A  0.094517 -1.92922 -1.107215  0.463678
B  1.436605  0.94284 -0.072994 -0.493884
C  0.696102  1.52066 -0.024674 -0.893065

In [18]:
df.loc["A"]

Column1    0.094517
Column2   -1.929220
Column3   -1.107215
Column4    0.463678
Name: A, dtype: float64

In [19]:
df.iloc[0]

Column1    0.094517
Column2   -1.929220
Column3   -1.107215
Column4    0.463678
Name: A, dtype: float64

In [20]:
df.loc["A","Column1"]

0.09451689565659104

In [22]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1  Column2
A  0.094517 -1.92922
B  1.436605  0.94284